@charset "UTF-8";
/**
 * @src      The path to your SVG file
 * @fill-new The fill value you would like to have injected into your paths
 */
@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/opensansbold.woff2);
}
@font-face {
  font-family: OpenSans;
  src: url(../fonts/opensans.woff2);
}
html {
  font-size: 1px;
}
body {
  font-family: Arial, sans-serif;
  color: #000000;
  min-width: 320px;
  box-sizing: border-box;
  background-color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
input {
  outline: none;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open-Sans.eot');
  src: url('../fonts/Open-Sans.eot?#iefix') format('embedded-opentype'), url('../fonts/Open-Sans.woff2') format('woff2'), url('../fonts/Open-Sans.woff') format('woff'), url('../fonts/Open-Sans.ttf') format('truetype'), url('../fonts/Open-Sans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/Open-Sans-Bold.eot');
  src: url('../fonts/Open-Sans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Open-Sans-Bold.woff2') format('woff2'), url('../fonts/Open-Sans-Bold.woff') format('woff'), url('../fonts/Open-Sans-Bold.ttf') format('truetype'), url('../fonts/Open-Sans-Bold.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif';
  src: url('../fonts/Noto-Serif.eot');
  src: url('../fonts/Noto-Serif.eot?#iefix') format('embedded-opentype'), url('../fonts/Noto-Serif.woff2') format('woff2'), url('../fonts/Noto-Serif.woff') format('woff'), url('../fonts/Noto-Serif.ttf') format('truetype'), url('../fonts/Noto-Serif.svg#NotoSerif') format('svg');
  font-weight: normal;
  font-style: normal;
}
.btn {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 14px;
  line-height: 40px;
  color: #434242;
  display: inline-block;
  width: 220px;
  height: 40px;
  -padding-top: 10px;
  -padding-bottom: 10px;
  background-color: #ffffff;
  outline: none;
  border: none;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.btn::before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}
.btn .btn-default {
  display: inline-block;
}
.btn .btn-hover {
  display: none;
}
.btn .btn-error {
  display: none;
}
.btn .btn-img {
  vertical-align: middle;
}
.btn:hover .btn-default,
.btn:active .btn-default {
  display: none;
}
.btn:hover .btn-hover,
.btn:active .btn-hover {
  display: inline-block;
  vertical-align: middle;
}
.main-nav {
  position: fixed;
  width: 100%;
  height: 70px;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.51);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  text-align: center;
}
.main-nav:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.main-nav__logo {
  display: none;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
  font-size: 0;
}
.main-nav__list--language {
  position: relative;
  float: right;
  margin-top: -70px;
  -margin-left: -23px;
}
.main-nav__item {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  height: 70px;
  box-sizing: border-box;
  cursor: pointer;
}
.main-nav__item:not(:last-of-type) {
  margin-right: 40px;
}
.main-nav__item:hover .main-nav__link {
  color: #ffffff;
}
.main-nav__item--contain-submenu:hover::before,
.main-nav__item--arrow::before,
.main-nav__item--contain-submenu:hover::after,
.main-nav__item--arrow::after {
  content: "";
  position: absolute;
  top: 70px;
  right: calc(50% - 5px);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid rgba(255, 255, 255, 0.6);
  z-index: 8000;
}
.main-nav__item--contain-submenu:hover::after,
.main-nav__item--arrow::after {
  top: 68px;
  border-top: 6px solid rgba(0, 0, 0, 0.51);
  z-index: 11000;
}
.main-nav__link {
  font-family: 'Open Sans Bold';
  font-weight: normal;
  font-size: 14px;
  line-height: 70px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  text-transform: uppercase;
}
.main-nav__image-lang {
  margin: 0;
  padding: 0;
}
.main-nav__link--lang {
  width: 23px;
}
.main-nav__link--lang::before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}
.main-nav__image-lang {
  display: inline-block;
  vertical-align: middle;
  opacity: 0.5;
}
.main-nav__image-lang:hover,
.main-nav__image-lang--active {
  opacity: 1;
}
.main-nav__submenu {
  margin: 0;
  padding: 0;
  display: none;
  width: 550px;
  position: absolute;
  top: 70px;
  left: -200px;
  z-index: 8000;
  box-sizing: border-box;
}
.main-nav__submenu-item {
  display: inline-block;
  height: 50px;
}
.main-nav__submenu-item:not(:last-child) {
  margin-right: 45px;
}
.main-nav__submenu-item:hover .main-nav__submenu-link {
  color: #ffffff;
}
.main-nav__submenu-link {
  font-family: 'Open Sans Bold';
  font-weight: normal;
  font-size: 14px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.main-nav__submenu-bg {
  display: none;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 7000;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  background-color: rgba(67, 66, 66, 0.8);
}
.main-nav__submenu-bg--language {
  width: 485px;
  height: 95px;
  left: -460px;
  padding-left: 70px;
  padding-right: 70px;
  box-shadow: 0px 2px 7px 0px #000000;
}
.main-menu__submenu-lang-text {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 14px;
  line-height: 95px;
  color: rgba(255, 255, 255, 0.6);
  float: left;
  text-transform: uppercase;
}
.main-menu__submenu-lang-list {
  margin: 0;
  padding: 0;
  float: right;
  font-size: 0;
}
.main-menu__submenu-lang-item {
  display: inline-block;
  height: 95px;
}
.main-menu__submenu-lang-item:not(:last-child) {
  margin-right: 30px;
}
.main-menu__submenu-lang-item::before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}
.main-menu__submenu-lang-link {
  display: inline-block;
  vertical-align: middle;
}
.main-nav__item:hover .main-nav__submenu {
  display: block;
}
.main-nav__item--contain-submenu:hover ~ .main-nav__submenu-bg {
  display: block;
}
.main-nav__item--contain-submenu:hover ~ .main-nav__submenu-bg--language {
  display: none;
}
.main-nav--scroll {
  background-color: #ffffff;
  border: none;
}
.main-nav--scroll:hover {
  background-color: #ffffff;
}
.main-nav--scroll .main-nav__logo {
  display: block;
  float: left;
  width: 220px;
  height: 70px;
  padding-top: 10px;
  margin-right: -220px;
  box-sizing: border-box;
}
.main-nav--scroll .main-nav__item--contain-submenu:hover::before,
.main-nav--scroll .main-nav__item--arrow::before {
  border-top-color: #ffffff;
}
.main-nav--scroll .main-nav__item--contain-submenu:hover::after,
.main-nav--scroll .main-nav__item--arrow::after {
  border: none;
}
.main-nav--scroll .main-nav__item:hover .main-nav__link {
  color: #434242;
}
.main-nav--scroll .main-nav__link {
  color: rgba(67, 66, 66, 0.6);
}
.main-nav--scroll .main-nav__submenu-bg {
  background-color: #434242;
}
.main-nav--scroll .main-nav__submenu-bg--language {
  border: none;
}
.js-vision {
  display: block;
}
.main-nav__toggle {
  display: none;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Slider */
.slick-loading .slick-list {
  background: #fff url('ajax-loader.gif') center center no-repeat;
}
/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/slick.eot');
  src: url('fonts/slick.eot?#iefix') format('embedded-opentype'), url('fonts/slick.woff') format('woff'), url('fonts/slick.ttf') format('truetype'), url('fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
.slick-prev[dir="rtl"] {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
.slick-prev:before[dir="rtl"] {
  content: "→";
}
.slick-next {
  right: -25px;
}
.slick-next[dir="rtl"] {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
.slick-next:before[dir="rtl"] {
  content: "←";
}
/* Dots */
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
.slider__wrapper {
  width: 100%;
  height: 930px;
}
.slider__item {
  position: relative;
  height: 930px;
  padding-bottom: 58px;
  box-sizing: border-box;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
}
.slider__item .slider__item-blackot {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.slider__item .slider__item-text-block {
  position: absolute;
  width: 35%;
  max-width: 600px;
  right: 5%;
  margin-top: 290px;
  text-align: right;
  z-index: 2000;
}
.slider__item .slider__item-header {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif';
  font-weight: normal;
  font-size: 50rem;
  line-height: 60rem;
  color: #ffffff;
  margin-bottom: 60px;
}
.slider__item .slider__item-text {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 18rem;
  line-height: 30rem;
  color: #ffffff;
  margin-bottom: 70px;
  text-align: left;
}
.slider__item .slider__btn-block {
  font-size: 0;
}
.slider__item .slider__btn {
  width: 40%;
  max-width: 220px;
  min-width: 150px;
  font-size: 14rem;
}
.slider__item .slider__btn--know-more {
  margin-right: 30px;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid #ffffff;
  color: white;
}
.slider__item .slider__picture {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: 58px;
  z-index: 1000;
}
.slider__item .slider__picture--over {
  width: 15%;
  left: 22.7%;
  top: 86%;
}
.slider__item--one {
  background-image: url(../img/slider-1-bg.jpg);
}
.slider__item--two {
  background-image: url(../img/slider-2-bg.jpg);
}
.slider__item--two .slider__item-text-block {
  left: 5%;
  text-align: left;
}
.slider__item--two .slider__item-header {
  color: #5e5e5e;
}
.slider__item--two .slider__item-text {
  color: #434242;
}
.slider__item--two .slider__btn {
  border: none;
  background-color: #84c668;
  color: #ffffff;
}
.slider__item--two .slider__btn--order {
  background-color: #f49550;
}
.slider__item--three {
  background-image: url(../img/slider-3-bg.jpg);
}
.slider__item--three .slider__item-blackot {
  bottom: 58px;
  background-color: rgba(0, 0, 0, 0.4);
}
.slider__item--three .slider__item-header {
  margin-top: 30px;
}
.slider__item--three .slider__item-text {
  margin-bottom: 80px;
}
.slider__item--three .slider__picture {
  width: 55%;
  left: 5%;
}
.page-subscription {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  vertical-align: top;
  background-color: #3a3a3a;
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.page-subscription:before,
.page-subscription:after {
  content: " ";
  display: table;
}
.page-subscription:after {
  clear: both;
}
.subscription__header {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif';
  font-weight: normal;
  font-size: 50rem;
  line-height: 60rem;
  color: #ffffff;
  padding-bottom: 30px;
}
.subscription__info {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif';
  font-weight: normal;
  font-size: 26rem;
  line-height: 20rem;
  color: #ffffff;
  padding-bottom: 100px;
}
.subscription__form {
  font-size: 0;
}
.form-text-input {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 18rem;
  line-height: 30rem;
  color: #ffffff;
  display: inline-block;
  width: 40%;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  outline: none;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.4);
}
.form-text-input:focus,
.form-text-input:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.form-text-input:invalid {
  background-color: rgba(223, 126, 126, 0.4);
}
.form-text-input:invalid + .form-submit .btn-default,
.submit-error .btn-default {
  display: none;
}
.form-text-input:invalid + .form-submit .btn-hover,
.submit-error .btn-hover {
  display: none;
}
.form-text-input:invalid + .form-submit .btn-error,
.submit-error .btn-error {
  display: inline-block;
}
.form-text-input:invalid + .form-submit:hover .btn-hover,
.submit-error:hover .btn-hover,
.form-text-input:invalid + .form-submit:active .btn-hover,
.submit-error:active .btn-hover {
  display: none;
}
.page-product {
  display: block;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  background-color: #ffffff;
}
.product__header {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif';
  font-weight: normal;
  font-size: 50rem;
  line-height: 60rem;
  color: #ffffff;
  width: 310px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #63b53f;
  text-align: center;
}
.product__catalog {
  box-sizing: border-box;
}
.product__catalog:before,
.product__catalog:after {
  content: " ";
  display: table;
}
.product__catalog:after {
  clear: both;
}
.product__list {
  margin: 0;
  padding: 0;
  float: left;
  width: 48%;
  list-style: none;
}
.product__list--two {
  float: right;
}
.product__item {
  max-height: 270px;
  min-height: 150px;
  margin-top: 80px;
}
.product__picture {
  position: relative;
  display: block;
  float: left;
  width: 150px;
  height: 150px;
  margin-right: 35px;
}
.product__picture-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(transparent 60%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.3) 100%);
  z-index: 1000;
}
.product__picture-link {
  position: absolute;
  display: block;
  width: 85%;
  height: 85%;
  top: 7.5%;
  left: 7.5%;
  border: 1px solid #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 2000;
}
.product__picture-link .product__picture-dir {
  display: none;
}
.product__picture-link:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.product__picture-link:hover .product__picture-dir {
  position: absolute;
  display: block;
  top: 36%;
  left: 36%;
  width: 30%;
  z-index: 3000;
}
.product__name-link {
  text-decoration: none;
}
.product__name {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 18rem;
  line-height: 20rem;
  color: #549a35;
  max-height: 16px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.product__name:hover,
.product__name:active {
  color: #264817;
}
.product__descr {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 18rem;
  line-height: 30rem;
  color: #434242;
  margin-left: 185px;
}
.product__direct-link {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 18rem;
  line-height: 30rem;
  color: #434242;
  text-decoration: none;
}
.product__direct-link:hover {
  color: #000000;
}
@media (max-width: 1150px){
  html{
    font-size: 0.8px;
  }
  .main-nav__list--main{
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: right;
  }
  .main-nav__list--main .main-nav__item{
    display: block;
    margin-right: 0;
    padding-right: calc(5% + 20px);
    background-color: rgba(0, 0, 0, 0.95);
  }
  .main-nav__list--main .main-nav__item--contain-submenu:hover .main-nav__submenu,
  .main-nav__list--main .main-nav__item--contain-submenu:hover ~ .main-nav__submenu-bg,
  .main-nav__list--main .main-nav__item--contain-submenu:hover::before,
  .main-nav__list--main .main-nav__item--contain-submenu:hover::after{
    display: none;
  }
  .main-nav__list--main .main-nav__item--contain-submenu{
    position: relative;
  }
  .main-nav__list--main .main-nav__item--contain-submenu::after{
    content: "";
    position: absolute;
    top: 32px;
    right: 5%;
    -left: calc(100% - 40px);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid rgba(255, 255, 255, 0.6);
    z-index: 12000;
  }
  .main-nav__list--main .main-nav__item--contain-submenu:hover::after{
    display: block;
    border-top-color: #ffffff;
  }
  .main-nav__list--main .main-nav__item--submenu-show .main-nav__submenu,
  .main-nav__list--main .main-nav__item--submenu-show:hover .main-nav__submenu{
    display: block;
  }
  .main-nav__list--main .main-nav__item--submenu-show .main-nav__submenu-item{
    display: block;
  }
  .main-nav__list--main .main-nav__item--submenu-show::after{
    transform: rotate(180deg);
  }
  .main-nav__list--language{
    margin-top: 0;
  }
  .main-nav__toggle{
    margin: 0;
    padding: 0;
    position: relative;
    -top: 20px;
    -right: 25px;
    float: right;
    z-index: 15000;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 27px;
    margin-left: 25px;
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
  }
  .main-nav--closed .main-nav__list--main{
    display: none;
  }
  .main-nav--closed .main-nav__toggle::before{
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 30px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.5), 0 16px 0 0 rgba(255, 255, 255, 0.5);
  }
  .main-nav--closed .main-nav__toggle:hover::before,
  .main-nav--closed .main-nav__toggle:active::before{
    background-color: #ffffff;
    box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
  }
  .main-nav--opened .main-nav__list--main{
    display: block;
  }
  .main-nav--opened .main-nav__toggle::before,
  .main-nav--opened .main-nav__toggle::after{
    content: "";
    position: absolute;
    top: 9px;
    left: -4px;
    width: 28px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .main-nav--opened .main-nav__toggle::before{
    transform: rotate(45deg);
    box-shadow: none;
  }
  .main-nav--opened .main-nav__toggle::after{
    transform: rotate(-45deg);
  }
  .main-nav--opened .main-nav__toggle:hover::before,
  .main-nav--opened .main-nav__toggle:active::before,
  .main-nav--opened .main-nav__toggle:hover::after,
  .main-nav--opened .main-nav__toggle:active::after{
    background-color: #ffffff;
  }
  .main-nav--scroll{
    /*.main-nav__toggle {
				&::before,
				&::after {
					background-color: @black-op-60;
				}

				&:hover::before,
				&:active::before,
				&:hover::after,
				&:active::after {
					background-color: @black;
				}
			}*/
  }
  .main-nav--scroll .main-nav__toggle::before,
  .main-nav--scroll .main-nav__toggle::after{
    background-color: rgba(0, 0, 0, 0.6);
  }
  .main-nav--scroll .main-nav__toggle::before{
    box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.6), 0 16px 0 0 rgba(0, 0, 0, 0.6);
  }
  .main-nav--scroll .main-nav__toggle:hover::before,
  .main-nav--scroll .main-nav__toggle:active::before,
  .main-nav--scroll .main-nav__toggle:hover::after,
  .main-nav--scroll .main-nav__toggle:active::after{
    background-color: #000000;
  }
  .main-nav--scroll .main-nav__toggle:hover::before,
  .main-nav--scroll .main-nav__toggle:active::before{
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }
  .main-nav--opened .main-nav__toggle::before{
    box-shadow: none;
  }
  .main-nav--opened .main-nav__toggle:hover::before,
  .main-nav--opened .main-nav__toggle:active::before{
    box-shadow: none;
  }
  .slider__wrapper{
    height: 600px;
  }
  .slider__item{
    height: 600px;
  }
  .slider__item .slider__item-text-block{
    margin-top: 130px;
  }
  .slider__item .slider__item-header{
    margin-bottom: 20px;
  }
  .slider__item .slider__item-text{
    margin-bottom: 50px;
  }
  .slider__item .slider__btn{
    width: 45%;
    min-width: 70px;
  }
  .slider__item .slider__btn--know-more{
    margin-right: 15px;
  }
  .slider__item--two .slider__item-text{
    margin-bottom: 20px;
  }
  .page-product{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .product__item{
    -height: 350px;
  }
  .product__picture{
    -float: none;
  }
}
@media (max-width: 768px){
  html{
    font-size: 0.7px;
  }
  .slider__wrapper{
    height: 500px;
  }
  .slider__item{
    height: 500px;
  }
  .slider__item .slider__item-text-block{
    width: 80%;
    right: 12%;
    margin-top: 80px;
  }
  .slider__item .slider__item-header{
    font-size: 40rem;
  }
  .slider__item .slider__picture{
    display: none;
  }
  .slider__item .slider__btn{
    font-size: 16rem;
  }
  .subscription__form .form-text-input{
    width: 70%;
  }
  .subscription__form .form-submit{
    width: 60px;
  }
  .subscription__form .btn-default{
    display: none;
  }
  .subscription__form .btn-hover{
    display: inline-block;
  }
}
@media (max-width: 1350px){
  .main-nav--scroll{
    text-align: right;
  }
  .main-nav--scroll .main-nav__list--main{
    margin-right: 5%;
  }
  .main-nav--scroll .main-nav__submenu{
    left: -260%;
  }
}
@media (max-width: 520px){
  .page-subscription{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .subscription__header{
    font-size: 35rem;
    line-height: 40rem;
  }
}
@media (max-width: 1000px){
  .product__list{
    float: none;
    width: 100%;
  }
  .product__item{
    margin-top: 50px;
  }
}
@media (max-width: 590px){
  .product__header{
    width: 250px;
  }
  .page-product{
    text-align: center;
  }
  .product__item{
    max-height: none;
  }
  .product__picture{
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .product__name{
    margin-top: 30px;
  }
  .product__descr{
    margin-left: 0;
    text-align: left;
  }
}
