@font-face {
	font-family: OpenSansBold;
	src: url(../fonts/opensansbold.woff2);
}

@font-face {
	font-family: OpenSans;
	src: url(../fonts/opensans.woff2);
}

html {
	font-size: 1px;
}

body {	
	font-family: Arial, sans-serif;
	color: @black;
	min-width: 320px;
	box-sizing: border-box;

	background-color: @white;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

input {
	outline: none;
}

@media @tablet-width {
	html {
		font-size: 0.8px;
	}	
}

@media @mobile-width {
	html {
		font-size: 0.7px;
	}
}