@black: #000000;
@white: #ffffff;

@grey: #3a3a3a;
@btn-font: #434242;
@input-field-bgc: #464646;
@input-field-bgc-def: rgba(255,255,255,0.4);
@input-field-bgc-write: rgba(255,255,255,0.2);
@input-field-bgc-invalid: rgba(223,126,126,0.4);

@white-op-60: rgba(255,255,255,0.6);

@desktop-width: ~"(min-width: 768px)";
@mobile-width: ~"(max-width: 768px)";

@img-retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
@img-retina-dpi: ~"(min-resolution: 144dpi)";
@img-retina-dppx: ~"(min-resolution: 1.5dppx)";
