@black: #000000;
@white: #ffffff;

@grey: #3a3a3a;
@grey-font: #434242;
@input-field-bgc: #464646;
@input-field-bgc-def: rgba(255,255,255,0.4);
@input-field-bgc-write: rgba(255,255,255,0.2);
@input-field-bgc-invalid: rgba(223,126,126,0.4);

@white-op-60: rgba(255,255,255,0.6);

@black-op-30: rgba(0,0,0,0.3);
@black-op-51: rgba(0,0,0,0.51);
@black-op-70: rgba(0,0,0,0.7);

@green: #63b53f;
@green-dark: #549a35;
@green-darkest: #264817;

@slider-height: 520px;

@desktop-width: ~"(min-width: 768px)";
@mobile-width: ~"(max-width: 768px)";

@img-retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
@img-retina-dpi: ~"(min-resolution: 144dpi)";
@img-retina-dppx: ~"(min-resolution: 1.5dppx)";
