.btn { //chck ls and fz
	.out-paddings();
	.fonts(@family: 'Open Sans'; 
		@weight: bold; 
		@size: 10px; 
		@line-height: 10px; 
		@color: @btn-font);

	display: inline-block;
	width: 225px;
	height: 40px;
	background-color: @white;
	outline: none;
	border: none;
	vertical-align: top;
	box-sizing: border-box;
	text-transform: uppercase;
}