.btn { //chck ls and fz
	.out-paddings();
	.fonts(@family: 'Open Sans'; 
		@weight: bold; 
		@size: 14px; 
		@line-height: 40px; 
		@color: @grey-font);

	display: inline-block;
	width: 220px;
	height: 40px;
	-padding-top: 10px;
	-padding-bottom: 10px;
	background-color: @white;
	outline: none;
	border: none;
	vertical-align: top;
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	cursor: pointer;

	&::before {
	    display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	    content: "";
}

	.btn-default {
		display: inline-block;
	}
	.btn-hover {
		display: none;
	}

	.btn-error {
		display: none;
	}

	.btn-img {
		vertical-align: middle;
	}

	&:hover,
	&:active {
		.btn-default {
			display: none;			
		}

		.btn-hover {
			display: inline-block;
			vertical-align: middle;
		}
	}
}