.main-nav {
	position: fixed;
	width: 100%;
	height: 70px;		
	padding-left: @padding-sides;
	padding-right: @padding-sides;
	box-sizing: border-box;
	z-index: 10000;

	background-color: @black-op-51;
	border-bottom: 1px solid @white-op-60;
	text-align: center;

	&:hover {
		background-color: @black-op-40;
	}
}

.main-nav__logo {
	display: none;
}

.main-nav__list {
	.out-paddings();

	display: block;
	list-style: none;
	font-size: 0;

	&--language {
		position: relative;
		float: right;
		margin-top: -(@menu-heigh);		
	}
}

.main-nav__item {
	.out-paddings();

	display: inline-block;
	box-sizing: border-box;
	cursor: pointer;
	
	&:not(:last-of-type) {
		margin-right: 40px;
	}	

	&:hover {
		.main-nav__link {
			color: @white;
		}
	}	
}

.main-nav__link {
	.fonts(@family: 'Open Sans Bold'; 
		@weight: normal; 
		@size: 14px; 
		@line-height: @menu-heigh; 
		@color: @white-op-60);
	

	position: relative;
	display: block;
	height: @menu-heigh;
	text-decoration: none;
	text-transform: uppercase;	
}

.main-nav__item--contain-submenu:hover .main-nav__link::before,
.main-nav__item--contain-submenu:hover .main-nav__link::after,
.main-nav__item--arrow::before,
.main-nav__item--arrow::after{//decoration arrow
	content: "";
	display: block;
	position: absolute;
	top: @menu-heigh;
	right: calc(~"50% - 5px");
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid @white-op-60;
	z-index: 10000;
}

.main-nav__item--contain-submenu:hover .main-nav__link::after,
.main-nav__item--arrow::after {
	top: (@menu-heigh - 2px);
	border-top: 6px solid @black-op-60;
	z-index: 11000;
}

.main-nav__image-lang {
	.out-paddings();
}

.main-nav__link--lang {	
	
	&::before {
		display: inline-block;		
	    height: 100%;
	    vertical-align: middle;
	    content: "";

	}
}

.main-nav__image-lang {
	display: inline-block;
	vertical-align: middle;
	opacity: 0.5;

	&:hover,
	&--active {
		opacity: 1;
	}
}

.main-nav__submenu {
	.out-paddings();

	display: none;
	width: 100%;
	position: absolute;
	top: @menu-heigh;
	left: 0;
	z-index: 8000;
	box-sizing: border-box;		
	border-top: 1px solid @white-op-60;
	background-color: @grey-op;

	&--interesting {
		padding-left: 370px;
	}
		
}

.main-nav__submenu-item {
	display: inline-block;
	height: @submenu-height;

	&:not(:last-child) {
		margin-right: 45px;
	}

	&:hover {
		.main-nav__submenu-link {
			color: @white;
		}
	}
}

.main-nav__submenu-link {
	.fonts(@family: 'Open Sans Bold'; 
		@weight: normal; 
		@size: 14px; 
		@line-height: @submenu-height; 
		@color: @white-op-60);

	text-decoration: none;
}

.main-nav__submenu-bg--language { 
	display: none;
	width: 485px;
	height: @submenu-language-height;
	position: absolute;
	top: @menu-heigh;
	left: -460px;
	z-index: 7000;
	padding-left: 70px;
	padding-right: 70px;
	border-top: 1px solid @white-op-60;
	box-shadow: 0px 2px 7px 0px @black;
	box-sizing: border-box;
	background-color: @grey-op;	
}

.main-menu__submenu-lang-text {
	.out-paddings();
	.fonts(@family: 'Open Sans'; 
		@weight: normal; 
		@size: 14px; 
		@line-height: @submenu-language-height; 
		@color: @white-op-60);

	float: left;
	text-transform: uppercase;	
}

.main-menu__submenu-lang-list {
	.out-paddings();

	float: right;
	font-size: 0;
}

.main-menu__submenu-lang-item {
	display: inline-block;
	height: @submenu-language-height;

	&:not(:last-child) {
		margin-right: 30px;
	}

	&::before {
		display: inline-block;		
	    height: 100%;
	    vertical-align: middle;
	    content: "";
	}
}

.main-menu__submenu-lang-link {
	display: inline-block;
	vertical-align: middle;
}

.main-nav__item:hover .main-nav__submenu {
	display: block;
}

.main-nav__item--contain-submenu:hover ~ .main-nav__submenu-bg--language {
	display: none;
}

.main-nav--scroll {
	background-color: @white;
	border: none;

	&:hover {
		background-color: @white;
	}

	.main-nav__logo {
		display: block;
		float: left;
		width: 220px;
		height: @menu-heigh;
		padding-top: 10px;
		margin-right: -220px;
		box-sizing: border-box;		
	}	

	.main-nav__item {
		
		&:hover {
			.main-nav__link {
				color: @grey-font;
			}
		}
	}

	.main-nav__link {
		color: @grey-op-60;				
	}

	.main-nav__item--contain-submenu:hover .main-nav__link::before,	
	.main-nav__item--arrow::before {//decoration arrows
		border-top-color: @white;
	}	

	.main-nav__item--contain-submenu:hover .main-nav__link::after,
	.main-nav__item--arrow::after {
		border: none;
	}

	.main-nav__submenu {
		background-color: @grey-font;
	}

	.main-nav__submenu-bg--language {		
		border: none;
		background-color: @grey-font;		
	}
}

.js-vision {
	display: block;
}

.main-nav__toggle {
	display: none;
}

@media (max-width: 1350px) {
	.main-nav--scroll {
		text-align: right;

		.main-nav__list--main {
			margin-right: 5%;
		}

		.main-nav__submenu {
			left: -260%;
		}
	}
}

@media @tablet-width {
	.main-nav__list {
		&--main {
			position: absolute;
			top: @menu-heigh;
			left: 0;
			right: 0;
			width: 100%;
			text-align: right;
			background-color: @black-op-95;

			.main-nav__item	{
				display: block;
				height: auto;
				margin-right: 0;
				padding-right: 10%;
				


				&--contain-submenu:hover .main-nav__submenu	{
					display: none;
				}

				&--contain-submenu {
					position: relative;

					&::before {
						content: "";
						position: absolute;
						top: 32px;
						right: 5%;						
						width: 0;
						height: 0;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-top: 6px solid @white-op-60;
						z-index: 12000;
					}

					&:hover::before {
						display: block;						
						border-top-color: @white;
					}
				}

				&--submenu-show {
					.main-nav__submenu,
					&:hover .main-nav__submenu {
						position: static;
						display: block;
						width: auto;
						margin-right: -15%;
						padding-right: 15%;
						background-color: @grey-op;						
					}					

					.main-nav__submenu-item {
						display: block;
						margin-right: 15%;
					}

					&::before {
						transform: rotate(180deg);
					}
				}			
				
			}

			.main-nav__item--contain-submenu:hover .main-nav__link::before,
			.main-nav__item--contain-submenu:hover .main-nav__link::after {
				display: none;
			}
		}

		&--language {
			width: 23px;
			/*margin-top: 0; maybe it need for fix strange behivor of this block*/
		}
	}

	.main-nav__toggle {
		.out-paddings();

		position: relative;
		float: right;
		z-index: 15000;

		display: block;
		width: 20px;
		height: 20px;
		margin-top: 27px;
		margin-left: 25px;
		border: 0;
		outline: 0;
		background-color: transparent;
		cursor: pointer;
	}

	.main-nav--closed {
		.main-nav__list {
			&--main {
				display: none;	
			}
		}

		.main-nav__toggle {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: -5px;

				width: 30px;
				height: 2px;

				background-color: @white-op-50;
				box-shadow: 0 8px 0 0 @white-op-50,
							0 16px 0 0 @white-op-50;
			}

			&:hover::before,
			&:active::before {
				background-color: @white;
				box-shadow: 0 8px 0 0 @white,
							0 16px 0 0 @white;
			}
		}
	}

	.main-nav--opened {
		.main-nav__list {
			&--main {
				display: block;	
			}
		}

		.main-nav__toggle {
			&::before,
			&::after {
				content: "";
				position: absolute;
				top: 9px;
				left: -4px;

				width: 28px;
				height: 2px;

				background-color: @white-op-50;
			}

			&::before {
				transform: rotate(45deg);
				box-shadow: none;
			}

			&::after {
				transform: rotate(-45deg);
			}

			&:hover::before,
			&:active::before,
			&:hover::after,
			&:active::after {
				background-color: @white;
			}
		}
	}

	.main-nav--scroll {		
		.main-nav__toggle {
			&::before,
			&::after {
				background-color: @black-op-60;
			}

			&::before {
				box-shadow: 0 8px 0 0 @black-op-60,
							0 16px 0 0 @black-op-60;
			}

			&:hover::before,
			&:active::before,
			&:hover::after,
			&:active::after {
				background-color: @black;
				
			}

			&:hover::before,
			&:active::before {
				box-shadow: 0 8px 0 0 @black,
							0 16px 0 0 @black;
			}
		}

		.main-nav__list {
			&--main {
				background-color: @white-op-90;

				.main-nav__item {
					&--contain-submenu {
						&::before {
							border-top-color: @black-op-60;
						}

						&:hover::before {
							border-top-color: @black;
						}
					}
				}
			}
			
		}
		
	}

	.main-nav--opened .main-nav__toggle{
		&::before {
			box-shadow: none;
		}

		&:hover::before,
		&:active::before {
			box-shadow: none;
		}
	}  //for bug with box-shadow	
}

@media (max-width: 600px) {
	.main-nav__submenu-bg--language {		
		width: 280px;
		left: -200px;
		
	}
	.main-menu__submenu-lang-text {
		display: none;
	}
}

@media (max-width: 380px) {
	.main-nav--scroll {
		.main-nav__logo {
			width: 90px;
			overflow: hidden;
		}

		.logo-link {
			display: block;
			width: 220px;
		}
	}
	
}