.page-product {
	//.clearfix();

	display: block;
	width: 100%;
	padding-top: 150px;
	padding-bottom: 150px;
	padding-left: @padding-sides;
	padding-right: @padding-sides;
	box-sizing: border-box;
	background-color: @white;
	
}

.product__header {
	.out-paddings();
	.fonts(@family: 'Noto Serif'; 
		@weight: normal; 
		@size: 50px; 
		@line-height: 60px; 
		@color: @white);//check!!!!

	width: 310px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	-padding-left: 25px;
	-padding-right: 25px;
	background-color: @green;
	text-align: center;
}

.product__catalog {
	.clearfix();
	box-sizing: border-box;
}

.product__list {
	.out-paddings();

	float: left;
	width: 48%;	
	list-style: none;

	&--two {
		float: right;
	}		
}

.product__item {
	min-height: 150px;
	margin-top: 80px;

}

.product__picture {
	position: relative;
	display: block;
	float: left;
	width: 150px;
	height: 150px;
	margin-right: 35px;
	
}

.product__picture-shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: radial-gradient(transparent 60%, @black-op-30 60%, @black-op-30 100%);
	z-index: 1000;
}

.product__picture-link {
	position: absolute;
	display: block;
	width: 85%;
	height: 85%;
	top: 7.5%;
	left: 7.5%;
	border: 1px solid @white;
	border-radius: 50%;
	box-sizing: border-box;
	z-index: 2000;

	.product__picture-dir {
		display: none;
	}

	&:hover {
		background-color: @black-op-70;

		.product__picture-dir {
			position: absolute;
			display: block;
			top: 36%;
			left: 36%;
			width: 30%;
			z-index: 3000;
		}
	}
}

.product__name-link {
	text-decoration: none;
}

.product__name {
	.out-paddings();
	.fonts(@family: 'Open Sans'; 
		@weight: bold; 
		@size: 16px; 
		@line-height: 20px; 
		@color: @green-dark);//check!!!!

	margin-bottom: 30px;	
	text-transform: uppercase;

	&:hover,
	&:active {
		color: @green-darkest;
	}
}

.product__descr {
	.out-paddings();
	.fonts(@family: 'Open Sans'; 
		@weight: normal; 
		@size: 14px; 
		@line-height: 16px; 
		@color: @grey-font);//check!!!!
}

.product__direct-link {
	.fonts(@family: 'Open Sans'; 
		@weight: normal; 
		@size: 14px; 
		@line-height: 16px; 
		@color: @grey-font);//check!!!!

	text-decoration: none;
	
	&:hover {
		color: @black;
	}
}

