.slider__wrapper {
	width: 100%;
	height: @slider-height;	
}

.slider__item {
	position: relative;
	height: @slider-height;	
	padding-bottom: @slider-pb-over;
	box-sizing: border-box;

	background-color: @white;
	background-repeat: no-repeat;
	background-size: cover;
	background-origin: content-box;

	.slider__item-blackot {
		position: absolute;
		width: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.slider__item-text-block {
		position: absolute;
		width: 35%;
		max-width: 600px;
		right: 5%;
		margin-top: 290px;
		text-align: right;
		z-index: 2000;
	}

	.slider__item-header {
		.out-paddings();
		.fonts(@family: 'Noto Serif'; 
			@weight: normal; 
			@size: 50rem; 
			@line-height: 60rem; 
			@color: @white);		
		
		margin-bottom: 60px;		
	}

	.slider__item-text {
		.out-paddings();
		.fonts(@family: 'Open Sans'; 
			@weight: normal; 
			@size: 18rem; 
			@line-height: 30rem; 
			@color: @white);

		margin-bottom: 70px;
		text-align: left;
	}

	.slider__btn-block {
		font-size: 0;
	}

	.slider__btn {
		width: 40%;
		max-width: 220px;
		min-width: 150px;

		font-size: 14rem;	

		&--know-more {
			margin-right: 30px;
			background-color: @white-op-25;
			border: 1px solid @white;
			color: white;
		}
		
	}

	.slider__picture {
		position: absolute;
		display: block;
		width: 100%;
		left: 0;
		bottom: @slider-pb-over;
		z-index: 1000;

		&--over {
			width: 15%;
			left: 22.7%;
			top: 86%;
		}
	}

	&--one {		
		background-image: url(../img/slider-1-bg.jpg);
		
	}

	&--two {				
		background-image: url(../img/slider-2-bg.jpg);
		
		.slider__item-text-block {
			left: 5%;
			text-align: left;
		}

		.slider__item-header {
			color: @grey-font-2;
		}

		.slider__item-text {			
			color: @grey-font;
		}

		.slider__btn {
			border: none;
			background-color: @green-light;
			color: @white;

			&--order {
				background-color: @orange-pale;
			}
		}
	}

	&--three {		
		background-image: url(../img/slider-3-bg.jpg);

		.slider__item-blackot {
			bottom: @slider-pb-over;
			background-color: @black-op-40;
		}

		.slider__item-header {
			margin-top: 30px;
		}

		.slider__item-text {
			margin-bottom: 80px;
		}
		
		.slider__picture {
			width: 55%;
			left: @padding-sides;
		}
	}	
}

@media @tablet-width {
	.slider__wrapper {
		height: @slider-height-tablet;
	}

	.slider__item {
		height: @slider-height-tablet;

		.slider__item-text-block {
			margin-top: 130px;
		}

		.slider__item-header {
			margin-bottom: 20px;
		}

		.slider__item-text {
			margin-bottom: 50px;
		}

		.slider__btn {
			width: 45%;	
			min-width: 70px;

			&--know-more {
				margin-right: 15px;
			}
		}
		
		&--two {
			.slider__item-text {
				margin-bottom: 20px;
			}
		}

	}	
}

@media @mobile-width {
	.slider__wrapper {
		height: @slider-height-mobile;
	}

	.slider__item {
		height: @slider-height-mobile;

		.slider__item-text-block {
			width: 80%;
			right: 12%;	
			margin-top: 80px;
		}

		.slider__item-header {
			font-size: 40rem;
		}

		.slider__picture {
			display: none;	
		}

		.slider__btn {
			font-size: 16rem;
		}
	}
}